*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}

// colors
.bg-color1{
    background-color: #fe696a;
}
.bg-color2{
    background-color: #2b3445;
}
.bg-color3{
    background-color: #69b3fe17;
}
.bg-color4{
    background-color: #fea56917;
}
.bg-footer{
    background-color: #2b3445;
}
.c-white{
    color: #fff;
}
.color1{
    color: #fe696a;
}
.color2{
    color: #373f50;
}
.color3{
    color: #7d879c;
}

// flex

.just-co-center{
    justify-content: center;
}
// position
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}

// main
main{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    header{
        height: 80px;
        justify-content: space-between;
        align-items: center;
        figure{
            width: 120px;
        }
        nav{
            .list-menu{
                justify-content: flex-end;
                i{
                    font-size: 25px;
                }
            }
            ul{
                li{
                    font-size: 16px;
                    .sub-menu{
                        position: absolute;
                        background-color: #ff0;
                        transition: 1s;
                    }
                    .sub-1{
                        top: 19px;
                        width: 200px;
                        padding: 10px 20px;
                        ul{
                            li{
                                padding: 6px 0;
                            }
                        }
                    }
                    .sub-2{
                        width: 500px;
                        padding: 10px 20px;
                        ul{
                            justify-content: space-around;
                            li{
                                width: 100px;
                                margin: 20px;
                                a{
                                    font-size: 12px;
                                    img{
                                        width: 60%;
                                    }
                                }
                            }
                        }
                    }
                }
                .city{
                    &:hover{
                        .sub-1{
                            display: flex;
                        }
                    }
                }
                .cuisine{
                    &:hover{
                        .sub-2{
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .main{
        .banner-img{
            height: 630px;
            background-image: url(../image/hero-bg.jpg);
            background-size: cover;
            background-position: center;
            .banner{
                text-align: center;
                color: #fff;
                h5{
                    font-size: 20px;
                }
                h1{
                    margin: auto;
                    font-size: 38px;
                }
                a{
                    padding: 10px 22px;
                    border-radius: 5px;
                    font-size: 16px;
                }
            }
        }

        .trending-food{
            text-align: center;
            h2{
                font-size: 31px;
            }
            p{
                font-size: 16px;
            }
            .food-kinds{
                ul{
                    justify-content: space-between;
                    li{
                        margin-bottom: 40px;
                        figure{
                            padding: 20px;
                            img{
                                border-radius: 10px;
                            }
                        }
                        h4{
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .dl-app{
            height: 500px;
            color: #fff;
            align-items: center;
            overflow: hidden;
            .dl-app-desc{
                h3{
                    font-size: 26px;
                }
                p{
                    font-size: 16px;
                }
                .dl-app-btn{
                    >div{
                        width: 170px;
                        height: 52px;
                        border-radius: 8px;
                        padding: 10px;
                        i{
                            font-size: 30px;
                        }
                        div{
                            flex-wrap: wrap;
                            .sp-1{
                                font-size: 11px;
                                padding-bottom: 7px;
                            }
                            .sp-2{
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                        
                    }
                }
            }
            figure{
                display: flex;
                justify-content: center;
                img{
                    width: 331px;
                }
            }
        }

        .work{
            div{
                align-items: center;
                padding: 30px 10px;
                div{
                    border-radius: 8px;
                    ul{
                        li{
                            h3{
                                font-size: 32px;
                            }
                            p{
                                font-size: 16px;
                            }
                            a{
                                padding: 15px 30px;
                            }
                        }
                    }
                }
            }
        }

        .restaurants{
            text-align: center;
            h3{
                font-size: 32px;
            }
            p{
                font-size: 16px;
            }
            ul{
                justify-content: space-between;
            }
        }
        
    }
    footer{
        .top-footer{
            padding: 50px 20px;
            .footer-logo{
                figure{
                    img{
                        width: 117px;
                    }
                }
            }
            .footer-links{
                justify-content: space-around;
                ul{
                    li{
                        padding: 5px 0;
                    }
                }
            }
            .footer-dl-app{
                >div{
                    width: 165px;
                    height: 52px;
                    border: solid 1px white;
                    border-radius: 8px;
                    padding: 10px 5px;
                    i{
                        font-size: 30px;
                    }
                    div{
                        flex-wrap: wrap;
                        .sp-1{
                            font-size: 11px;
                            padding-bottom: 7px;
                        }
                        .sp-2{
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                    
                }
            }
        }
        .rights-policy{
            font-size: 12px;
            padding: 30px 20px;
            justify-content: space-between;
        }
    }
}
.border-r{
    border-right: solid 1px white;
}
.border-b{
    border-bottom: solid 1px white;
}
.container-f{
    width: 100%;
    padding: 0 20px;
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1150px;
        margin: auto;
    }
}
@media screen and (min-width: 1400px) {
    .container{
        width: 1400px;
        margin: auto;
    }
}